body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.children-menu {
  display: inline-block;
  width: 100%;
  background: rgb(181, 252, 181);
}
.small-children-iamge {
  border-radius: 100px;
  padding: 10px;
}
.small-children-iamge:hover {
  cursor: pointer;
}
.timer {
  font-size: 26px;
}
figure {
  display: inline-block;
}